@{
    Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <h1 class="jumbotron">Welcome to the home page!</h1>
  <h2>Put this html into the layout body</h2>
  @Html.Partial("favorite_photos.cshtml")
</div>
